@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap'); 


body {
    
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50vh;
    font-size: 3.5rem;
    font-family:'Barrio', cursive;
} 